---
import LeftSideTopBar from './bars/LeftSideTopBar';
import RightSideTopBar from './bars/RightSideTopBar';
import TopBar from './bars/TopBar';
---
<div>
    <LeftSideTopBar />
    <TopBar />
    <RightSideTopBar />
</div>