---
import Bars from "../components/Bars.astro"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Im a noob</title>
	</head>
	<body>
		<div class="content-wrapper">
			<Bars />
			<slot />
		</div>
		<footer class="footer w-screen bg-overlay">
			<p style="text-align: center; font-size: 0.8rem; padding: 1rem 0; color: var(--color-text);">
				Made with ❤️ using
				<a href="https://astro.build" target="_blank" rel="noopener" style="color: var(--color-primary); text-decoration: none;">Astro</a>
			</p>
		</footer>
	</body>
</html>

<style>
html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.footer {
    margin-top: auto;
}
.content-wrapper {
	padding: 2rem;
}
.footer {
	padding: 0 !important;
}
</style>
